<div class="skillsAndContacts">
    <p>Minhas Habilidades</p>
    <div class="image">
        <img src="../../assets/images/java.png" alt="Java">
        <img src="../../assets/images/logos_spring-icon.png" alt="Spring Boot">
        <img src="../../assets/images/angular.png" alt="Angular">
        <img src="../../assets/images/html.png" alt="Html">
        <img src="../../assets/images/css.png" alt="Css">
        <img src="../../assets/images/github.png" alt="GitHub">
        <img src="../../assets/images/mysql.png" alt="Mysql">
    </div>
    <div class="imageBackgroundContact">
        <div class="menu">
            <p class="title">Menu</p>
            <a href="#home">Inicio</a><br>
            <a href="#work">Trabalhos</a><br>
            <a href="#home">Idioma</a>
        </div>
        <div class="socialNetworks">
            <p class="title">Redes Sociais</p>
            <a href="https://www.linkedin.com/in/gabrielnunesfaria/" target="_blank">Linkedin</a><br>
            <a href="https://github.com/GabrielFaria23" target="_blank">GitHub</a>
        </div>
        <div class="phoneAndEmail">
            <p class="title">Telefone: <label for="phoneNumberAndEmail"> (37)998022731</label></p>
            <p class="title">Email: <a class="email" href="mailto:gabrielnunesfariapta@hotmail.com" > gabrielnunesfariapta@hotmail.com</a></p>
        </div>
    </div>        
</div>
