<mat-toolbar class="mat-elevation-z4 tbar">
    <div class="menuOptions">
      <div class="option">
        <a href="#home">Início<mat-icon>home</mat-icon></a>
      </div>
      <div class="option">
        <a href="#work">Trabalho<mat-icon>work</mat-icon></a>
      </div> 
      <div class="option">
        <a href="#contacts">Contato<mat-icon>contacts</mat-icon></a>
      </div> 
      <div class="option">
        <a href="#">Idioma<mat-icon>language</mat-icon></a>      
      </div> 
    </div>
    <div>
      <a href="https://www.linkedin.com/in/gabrielnunesfaria/" target="_blank"><img src="../assets/icons/linkedinTbar.png" alt="Linkedin"></a>
      <a href="https://github.com/GabrielFaria23" target="_blank"><img src="../assets/icons/gitTbar.png" alt="GitHub"></a>
    </div>
  </mat-toolbar>