<footer class="imageBackgroundContact">
    <div class="componentsPosition">
        <div class="menu">
            <p class="title">{{'app.contactMenu' | translate}}</p>
            <a href="#home">{{'app.home' | translate}}</a><br>
            <a href="#work">{{'app.projects' | translate}}</a><br>
            <a href="#skills">{{'app.skills' | translate}}</a><br>
        </div>
        <div class="socialNetworks">
            <p class="title">{{'app.contactSocialNetwork' | translate}}</p>
            <a href="https://www.linkedin.com/in/gabrielnunesfaria/" target="_blank">Linkedin</a><br>
            <a href="https://github.com/GabrielFaria23" target="_blank">GitHub</a>
        </div>
        <div class="phoneAndEmail">
            <p class="title">{{'app.contactPhone' | translate}} <a href="callto:(37)998022731" for="phoneNumber"> {{'app.contactPhoneNumber' | translate}}</a></p>
            <p class="title">{{'app.contactEmail' | translate}} <a class="email" href="mailto:gabrielnunesfariapta@hotmail.com" > {{'app.contactEmailName' | translate}}</a></p>
        </div>
    </div>
</footer>