<div class="imageBackgroundContact">
    <div class="menu">
        <p class="title">Menu</p>
        <a href="#home">Inicio</a><br>
        <a href="#work">Trabalhos</a><br>
        <a href="#home">Idioma</a>
    </div>
    <div class="socialNetworks">
        <p class="title">Redes Sociais</p>
        <a href="https://www.linkedin.com/in/gabrielnunesfaria/" target="_blank">Linkedin</a><br>
        <a href="https://github.com/GabrielFaria23" target="_blank">GitHub</a>
    </div>
    <div class="phoneAndEmail">
        <p class="title">Telefone: <label for="phoneNumberAndEmail"> (37)998022731</label></p>
        <p class="title">Email: <a class="email" href="mailto:gabrielnunesfariapta@hotmail.com" > gabrielnunesfariapta@hotmail.com</a></p>
    </div>
</div>