.imageBackgroundContact {
    width: 100%;
    height: 600px;
    min-width: 280px;
    max-height: 600px;
    background-image: url("../../assets/images/background-home.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    bottom: 0;
}
.componentsPosition{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 150px;
    margin-right: 20px;
}

.title {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 50px;
}

div a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

div a:hover, a:active{
    opacity: 0.4;
}

.socialNetworks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 150px;
    margin-right: 20px;
}

.phoneAndEmail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 150px;
    margin-right: 20px;
}

label {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

.email {
    text-decoration: none;
}

.textThanks {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 650px){
    .componentsPosition {
        justify-content: center;
    }
    .menu {
        width: 40%;
        margin-top: 50px;
    }
    
    .socialNetworks {
        width: 40%;
        margin-top: 50px;
    }

    .menu {
        align-items: center;
    }

    .socialNetworks {
        align-items: center;
    }

    .phoneAndEmail {
        width: 85%;
        margin-top: 100px;
        align-items: center;
    }
}

@media screen and (max-width: 425px){
    .title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 50px;
    }
    
    div a {
        font-size: 12px;
        font-weight: 300;
    }
    label {
        font-size: 12px;
        font-weight: 300;
    }
}