.work {
    width: 100%;
    height: 650px;
    min-height: 500px;
    min-width: 250px;
    padding-top: 5em;
    z-index: 0;
}

.workPosition {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-bottom: 100px;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover , a:active{
    opacity: 0.6;
}

mat-card {
    background-color: #fff;
    width: 350px;
    height: 170px;
    border-radius: 10px;
}

mat-card-title p {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

mat-card-content p{
    font-size: 14px;
    color: #000;
    font-weight: 300;
}

.contentPosition {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

img {
    width: 165px;
    height: 121px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #000;
}

@media screen and (max-width: 1200px) {
    .workPosition{
        flex-direction: column;
        justify-content: center;
    }

    mat-card{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {

    mat-card{
        width: 250px;
    }

    mat-card-content p{
        margin-left: 10px;
    }
}