<div class="work">
    <mat-card class="mat-elevation-z4">
        <mat-card-title>
            <p>Gerenciador de Biblioteca</p>
        </mat-card-title>
        <div class="contentPosition">
            <img mat-card-md-image src="../../assets/images/library.png">    
            <mat-card-content>
                <p>Sistema para gerenciar e <br>
                    organizar livros em <br>
                    bibliotecas</p>
            </mat-card-content>
        </div>
    </mat-card>
    <mat-card class="mat-elevation-z4">
        <mat-card-title>
            <p>Portfolio</p>
        </mat-card-title>
        <div class="contentPosition">
            <img mat-card-md-image src="../../assets/images/imagePortfolio.png">    
            <mat-card-content>
                <p>Código desenvolvido <br>para criação desse <br>portfólio</p>
            </mat-card-content>
        </div>
    </mat-card>
    <mat-card class="mat-elevation-z4">
        <mat-card-title>
            <p>Gerenciador de Estoque de cerveja</p>
        </mat-card-title>
        <div class="contentPosition">
            <img mat-card-lg-image src="../../assets/images/beerstock.png">    
            <mat-card-content>
                <p>Sistema para gerenciar <br>
                    estoques de cerveja<br>
            </mat-card-content>
        </div>
    </mat-card>
</div>