<div class="skills">
    <div class="elementsPosition">
        <p>{{'app.skillsTitle' | translate}}</p>
        <div class="image">
            <div class="imageGroup">
                <img src="../../assets/images/java.png" alt="Java">
                <img src="../../assets/images/logos_spring-icon.png" alt="Spring Boot">
            </div>
            <div class="imageGroup">
                <img src="../../assets/images/angular.png" alt="Angular"><br>
                <img src="../../assets/images/html.png" alt="Html">
            </div>
            <div class="imageGroup">
                <img src="../../assets/images/css.png" alt="Css">
                <img src="../../assets/images/github.png" alt="GitHub"><br>
            </div>
            <div class="imageGroup">
                <img src="../../assets/images/mysql.png" alt="Mysql">
            </div>
        </div>
    </div>
</div>