<div class="home">
    <div class="textHi">
        <p>Oi,</p>
        <p>Eu sou o Gabriel.</p>
        <p>Web Developer.</p>
    </div>
    <div class="fotoPortfolio"></div>
    <div class="textSobreMim">
        <p>Tenho 23 anos, sempre fui muito </p>
        <p>ligado com a área de tecnológia e</p>
        <p>constantemente atualizo meus </p>
        <p>conhecimentos no geral. </p>
        <p>Tenho facilidade em me comunicar</p>
        <p>e sempre gosto de fazer novas amizades,</p>
        <p>acredito que sempre temos algo a </p>
        <p>compartilhar e aprender no dia a dia.</p>
        <br>
        <p>Ultimamente o meu foco de</p>
        <p>estudo tem sido sobre Java</p>
        <p>utilizando principalmente o</p>
        <p>framework Spring Boot e</p>
        <p>Typescript utilizando Angular</p>
        <br>
        <p>Clique <a class="linkWorks" href="#works">aqui</a> para conhecer um</p>
        <p>pouco mais sobre projetos</p>
        <p>pessoais que desenvolvi</p>
    </div>
</div>