<div class="home">
    <div class="elementPosition">
        <div class="textPosition">
            <div class="textHi">
                <p>Oi, </p>
                <p>Eu sou o Gabriel.</p>        
                <p>Web Developer.</p> 
            </div>
            <div class="textSobreMim">
                <p>Tenho 23 anos, sempre fui muito ligado com a área  
                     de tecnológia e constantemente atualizo meus 
                     conhecimentos no geral. Tenho facilidade em me 
                     comunicar e sempre gosto de fazer novas amizades, 
                     acredito que sempre temos algo a compartilhar e aprender no dia a dia.
                <br>
                <p>Ultimamente o meu foco de estudo tem sido sobre
                    Java utilizando principalmente o framework Spring 
                    Boot e Typescript utilizando Angular</p>
                <p>Clique <a class="linkWorks" href="#works">aqui</a> para conhecer um pouco mais sobre
                    projetos pessoais que desenvolvi.</p>
            </div>
        </div>    
        <img src="../../assets/images/foto_portifolio.png">
    </div>
</div>