<div class="home">
    <div class="elementPosition">
        <div class="textPosition">
            <div class="textHi">
                <p>{{'app.homeHi' | translate}} </p>
                <p>{{'app.homeMe' | translate}}</p>        
                <p>{{'app.homeMeJobDescription' | translate}}</p> 
            </div>
            <div class="textSobreMim">
                <p>{{'app.homeDescription' | translate}}</p>
                <p>{{'app.homeStudy' | translate}}</p>
                <p>{{'app.homeProjectRedirectClick' | translate}} <a class='linkWorks' href='#work'>{{'app.homeProjectRedirectLink' | translate}}</a> {{'app.homeProjectRedirect' | translate}}</p>
            </div>
        </div>    
        <img src="../../assets/images/foto_portifolio.png">
    </div>
</div>